body 
{
	background-color: #E1E1E1;
	font-size:12pt;
}

.shadow
{
	background-color:#888888;
}

div.header_shadow
{
	position:absolute;
	top:10px;
	left:5px;
	height:50px;
	right:0px;
	z-index:2;
}

#MainContainer
{
	position:absolute;
	top:85px;
	left:0;
	right:0;
	bottom:0;
	overflow-y:auto;
	overflow-x:hidden;
	padding:5px;
	z-index:1;
	padding-left:15px;
}

#PageTitleContainer
{
	position:absolute;
	top:30px;
	left:0px;
	right:0px;
	height:30px;
	text-align:center;
	font-weight:bold;
	font-size:20pt;
	color:#FFFFFF;
}

div.header
{
	background-color:#1D303F;
	background-image:url('/resources/images/desktop/logo.png');
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:50px;
	border-bottom:solid 5px #FFFFFF;
	z-index:3;
}

div.sidebar
{
	position:absolute;
	width:5px;
	top:50px;
	left:0px;
	bottom:0px;
	background-color:#FFFFFF;
	z-index:3;
}

div.sidebar_shadow
{
	position:absolute;
	width:5px;
	top:55px;
	left:5px;
	bottom:0px;
	z-index:2;
}
span.NormalButton
{
	background-image:url('/resources/images/buttonCorners.png');
	background-position:left center;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
    color:#000000;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 20px;
    margin: 0 5px 5px 5px;
    min-width: 50px;
}

span.NormalButton:hover,
span.NormalButton:hover span.corner
{
	background-image:url('/resources/images/buttonCornersAlt.png');
}

span.NormalButton:hover span.corner strong
{
	background-image: url("/resources/images/buttonBackAlt.png");
	color:#000000;
}

span.NormalButton span.corner
{
	background-image: url("/resources/images/buttonCorners.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    padding: 0 10px 0 0;
}

span.NormalButton span.corner strong
{
	background-image: url("/resources/images/buttonBack.png");
    background-position: center center;
    background-repeat: repeat-x;
    color:#FFFFFF;
    display: block;
    height: 24px;
}

span.NormalButton span.corner strong span.icon
{
	width:16px;
	height:16px;
	display:inline-block;
	margin-top:3px;
	margin-right:3px;
}
