<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Org.Reddragonit.BackBoneDotNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Org.Reddragonit.BackBoneDotNet.Properties.Settings>
      <setting name="CompressAllJS" serializeAs="String">
        <value>False</value>
      </setting>
    </Org.Reddragonit.BackBoneDotNet.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.MessagesFilePath" value=""/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.DiagnosticsLevel" value="TRACE"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.DiagnosticsOutput" value="DEBUG"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.LogAgeDays" value="30"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.LogPath" value="/var/log/FreeswitchConfigSite"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllJS" value="false"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllJSIgnorePaths" value="/resources/scripts/core.js,/mobile/resources/scripts/core.js,/resources/scripts/loggedIn.js,/mobile/resources/scripts/loggedIn.js"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllCSS" value="false"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.CompressAllCSSIgnorePaths" value="/mobile/resources/styles/core.css,/resources/styles/core.css"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.RemoteIP" value="127.0.0.1"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.RemotePort" value="8081"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.DiagnosticsOutput" value="DEBUG"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.DiagnosticsLevel" value="TRACE"/>
    <add key="Org.Reddragonit.EmbeddedWebServer.Settings.UseServerNameInLogging" value="false"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.DataCore.System.Firewall.FirewallControl.EnableFirewall" value="false"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.Handlers.ModelHandler.CompressJS" value="false"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.CompressJS" value="false"/>
    <add key="Org.Reddragonit.FreeSwitchConfig.Site.ConfigSite.SSLCertificatePath" value=""/>
  </appSettings>
</configuration>