html, body {
    min-width:990px;
	min-height:601px;
	width:100%;
    height: 100%;
}

body{
    font-size:1em;
    font-weight:normal;
}

span.button,
img.button
{
	cursor:pointer;
	display:inline-block;
	margin-right:5px;
}

div.TopBar
{
	background-color:#B9DDF1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:130px;
	padding:0;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
	z-index:1;
	min-width:800px;
}

div.tuxLogo
{
	color:#FFFFFF;
	position:absolute;
	margin:0;
	padding:0;
	padding-top:75px;
    left:5px;
    top:5px;
    width:120px;
    height:40px;
    overflow:hidden;
    display:inline-block;
    background-image:url('/resources/images/TuxWifi.png');
    background-repeat:no-repeat;
    background-position:top center;
    font-size:19px;
    line-height:14px;
    z-index:3;
}

div.ButtonContainer
{
	font-size:20px;
	color:#FFFFFF;
	position:absolute;
	top:5px;
	left:140px;
	right:0;
	text-align:center;
	right:0;
	vertical-align:top;
	height:120px;
	z-index:3;
	min-width:660px;
}

div.ButtonContainer span
{
	background-image: url("/resources/images/menu/menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-table;
    margin-left: 5px;
    margin-right: 5px;
    padding: 80px 0 0;
    text-align: center;
    width: 75px;
}

div.ButtonContainer span:hover
{
	color:#000000;
}

div.ButtonContainer span.Home{ background-position:0px top; }
div.ButtonContainer span.PBXConfiguration{ background-position:-73px 0px;}
div.ButtonContainer span.SystemConfiguration{ background-position:-148px 0px;}
div.ButtonContainer span.SystemDiagnostics{ background-position:-222px 0px;}
div.ButtonContainer span.ReloadMenus{ background-position:-320px 0px;}
div.ButtonContainer span.ChangePassword{ background-position:-396px 0px;}
div.ButtonContainer span.Logout{ background-position:-473px 0px;}

div.MainContainer
{
    top:120px;
    left:0px;
    right:0px;
    bottom:0px;
    min-height:480px;
    position:absolute;
    z-index:2;
	filter:alpha(opacity=75);
    opacity: 0.75;
    -moz-opacity:0.75;    
    background-color:#B2B3B5;
    min-width:800px;
}

#MasterButtonsContainer
{
	top:25px;
	left:0;
	bottom:0;
	width:220px;
	position:absolute;
	overflow-y:auto;
	overflow-x:hidden;
	display:none;
	z-index:4;
	background-color:#B9DDF1;
	filter:alpha(opacity=95);
    opacity: 0.95;
    -moz-opacity:0.95;
}

#MainContent
{
	top:25px;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	overflow:auto;
	z-index:3;
	background-color:#FFFFFF;
}

#OverlayPanel,
#AnimatedOverlayPanel,
#FileBrowserOverlay,
#PopupPanelOverlayPanel
{
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    position:fixed;
    background-color:#C3C4C6;
    display:none;
}

#OverlayPanel
{
	z-index:800;
	filter:alpha(opacity=65);
    opacity: 0.65;
    -moz-opacity:0.65;
}

#FileBrowserOverlay
{
	z-index:850;
	filter:alpha(opacity=70);
    opacity: 0.70;
    -moz-opacity:0.70;
}

#AnimatedOverlayPanel
{
	z-index:900;
	filter:alpha(opacity=75);
    opacity: 0.75;
    -moz-opacity:0.75;
}

#PopupPanelOverlayPanel
{
	z-index:950;
	filter:alpha(opacity=80);
    opacity: 0.80;
    -moz-opacity:0.80;
}

#LoginContainer
{
	background-image:url('/resources/images/LoginFrame.png');
    background-position:center center;
    background-repeat:no-repeat;
    width:400px;
    height:150px;
    text-align:center;
    color:#333333;
	position:fixed;
	display:none;
    z-index:801;
    top:50%;
    left:50%;
    padding:0;
    margin:0;
    margin-top:-75px;
    margin-left:-200px;
}

#LoginContainer input
{
	margin:2px;
}

#LoginContainer img
{
	display:inline-block;
	cursor:pointer;
	padding:0;
	margin:5px;
}

#LoginContainer h2
{
	line-height: 16px;
    margin-top: 10px;
}

#AnimatedCirclePanel
{
	width:220px;
	height:150px;
	background-image:url('/resources/images/LoadingCircle.gif');
	background-position:top center;
	background-repeat:no-repeat;
	position:fixed;
	z-index:901;
	top:50%;
	left:50%;
	margin:0;
	margin-left:-110px;
	margin-top:-75px;
	display:none;
}

#AnimatedCirclePanel span
{
	color: #7D7D7D;
    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: 6px;
    margin-top: 44px;
}

select.Domain
{
	position:absolute;
	top:122px;
	left:5px;
	height:20px;
	z-index:4;
}

#spnReload
{
	position:absolute;
	top:122px;
	height:20px;
	z-index:4;
	font-size:16px;
	right:5px;
	width:145px;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
	display:none;
}

#spnReload img
{
	margin-right:5px;
}

#PopupPanel,
#FormPanel,
#FileBrowser
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:0;
	margin:0;
	display:none;
}

#PopupPanel table.container,
#FormPanel table.container,
#FileBrowser table.container
{
	padding:0;
	margin:0;
	vertical-align: middle;
	height: 100%;
	margin: 0 auto;
}

#FormPanel
{
	z-index:801;
}

#PopupPanel
{
    z-index:951;
}

#FileBrowser
{
	z-index:851;
}

#PopupPanelHeader,
#PopupPanelButtons,
#FormPanelHeader,
#FormPanelButtons,
#FileBrowserHeader,
#FileBrowserButtons
{
	background-color:#E1E6F6;
	background-image:url('/resources/images/thbackground.png');
	background-repeat:repeat-x;
	background-position:top left;
	border-bottom:solid 1px #B6BCCC;
	text-align:center;
}

#FormPanelHeader,
#FormPanelButtons,
#FileBrowserHeader,
#FileBrowserButtons
{
	margin-left:2px;
	margin-right:2px;
}

#FormPanelHeader,
#FormPanelButtons,
#FileBrowserHeader,
#FileBrowserButtons
{
	width:100%;
	margin-left:0;
}

#PopupPanelHeader
{
	margin-top:2px;
	margin-bottom:0;
}

#PopupPanelHeader,
#FormPanelHeader,
#FileBrowserHeader
{
	height:25px;
}

#PopupPanelButtons,
#FormPanelButtons,
#FileBrowserButtons
{
	height:26px;
	margin-top:0;
	margin-bottom:2px;
	padding-top:3px;
}

#FormPanelContent,
#PopupPanelContent,
#FileBrowserContent
{
	overflow:auto;
	background-color:#FFFFFF;
}

#PopupPanelContent,
#FileBrowserContent
{
	padding:5px;
}

#PopupPanelContent
{
	max-height:280px;
	max-width:400px;
}

#FormPanelContent,
#FileBrowserContent
{
	max-height:$maxPanelHeight$px;
	max-width:$maxPanelWidth$px;
}

#FileBrowserContent span
{
    display:inline-block;
    float:left;
    height:25px;
    margin-right:10px;
    padding-left:20px;
    padding-right:5px;
    background-position:left top;
    background-repeat:no-repeat;
    vertical-align:middle;
    border-right:solid 1px black;
    text-align:left;
    min-width:150px;
}

#FileBrowserContent span span 
{
    padding:0;
    margin:0;
    margin-right:5px;
    margin-left:5px;
    float:none;
    min-width:0;
    border:none;
}

.error
{
	font-weight:bold;
	color:#FF0000;
}

div.FirewallSettingsContainer
{
	bottom: 0;
    left: 10px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 20px;
}

div.FirewallSettingsContainer table tr td
{
	vertical-align:top;
	border-bottom:1px solid black;
}

div.FirewallSettingsContainer table tr th{
	background-color:#E1E6F6;
	background-image:url('/resources/images/thbackground.png');
	background-repeat:repeat-x;
	background-position:top left;
	border-bottom:solid 1px #B6BCCC;
}

div.FirewallSettingsContainer table tr.Allow td
{
	background-color:#90EE90;
}

div.FirewallSettingsContainer table tr.Drop td
{
	background-color:#FF0000;
}

div.FirewallSettingsContainer table tr.Log td
{
	background-color:#ADD8E6;
}

div.FirewallSettingsContainer table tr.Redirect td
{
}

div.FirewallSettingsContainer table tr.Reject td
{
	background-color:#D3D3D3;
}

div.FirewallSettingsContainer table tr.ULog td
{
	background-color:#800000;
}

div.FirewallSettingsContainer table tr.ToChain td
{
}

div.FirewallSettingsContainer table tr.TemporaryIPBlock td
{
	background-color:#FFFF00;
}