div.HomePageComponentContainer
{
	max-width:400px;
	max-height:400px;
	float:left;
	margin-left:20px;
	margin-top:5px;
}

div.HomePageComponentContainer div.shadow
{
	position:relative;
	background-color:#CCCCCC;
}

div.HomePageComponentContainer div.shadow div.HeaderBar,
div.HomePageComponentContainer div.shadow div.Content
{
	position:relative;
	top:-5px;
	left:-5px;
}

div.HomePageComponentContainer div.shadow div.HeaderBar
{
	height:25px;
	margin-top:2px;
	margin-bottom:0px;
	background-color: #E1E6F6;
    background-image: url("/resources/images/thbackground.png");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #B6BCCC;
    text-align: center;
}

div.HomePageComponentContainer div.shadow div.Content
{
	max-width:400px;
	max-height:375px;
}

div.HomePageComponentContainer div.shadow div.Content
{
	position:relative;
	overflow:auto;
	background-color:#FFFFFF;
	padding:5px;
	border: 1px solid #B6BCCC;
	border-top:none;
}