.NB
{
	background-color:#fdff7c;
	border:solid 1px black;
	padding:5px;
}

table.Rowed,
table.CollectionView
{
	border-right:solid 1px black;
}

table.CollectionView td
{
    padding: 0; /* 'cellpadding' equivalent */
    border-spacing:0;
}

table.Rowed tr th,
table.CollectionView tr th
{
	background-color:#E1E6F6;
	background-image:url('/resources/images/thbackground.png');
	background-repeat:repeat-x;
	background-position:top left;
	border-bottom:solid 1px #B6BCCC;
}

table.Rowed tr.Alt td,
table.Rowed tr td,
table.Rowed tr th,
table.CollectionView tr.Alt td,
table.CollectionView tr td,
table.CollectionView tr th
{
	padding:3px 2px;
	border-left:solid 1px black;
}

table.Rowed tr.Alt td,
table.CollectionView tr.Alt td,
table.Rowed tr td,
table.CollectionView tr td
{
	border-bottom:solid 1px black;
}

table.Rowed tr td,
table.CollectionView tr td
{
	background-color:#F0F0F0;
}

table.Rowed tr.Alt td,
table.CollectionView tr.Alt td
{
	background-color:#CAEEF2;
}

body 
{
	background-color: #E1E1E1;
}

.shadow
{
	background-color:#888888;
}

div.header_shadow
{
	position:absolute;
	top:10px;
	left:5px;
	right:0px;
	z-index:2;
}

#MainContainer
{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	overflow-y:auto;
	overflow-x:hidden;
	padding:5px;
	z-index:1;
	padding-left:15px;
}

#PageTitleContainer
{
	position:absolute;
	top:30px;
	left:0px;
	right:0px;
	height:30px;
	text-align:center;
	font-weight:bold;
	font-size:20pt;
	color:#FFFFFF;
}

div.header
{
	background-color:#1D303F;
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	top:0;
	left:0;
	right:0;
	border-bottom:solid 5px #FFFFFF;
	z-index:3;
}

div.sidebar
{
	position:absolute;
	width:5px;
	left:0px;
	bottom:0px;
	background-color:#FFFFFF;
	z-index:3;
}

div.sidebar_shadow
{
	position:absolute;
	width:5px;
	left:5px;
	bottom:0px;
	z-index:2;
}

button.normal
{
	padding:0 8px 0 0;
	height:20px;
	border:0;
	cursor:pointer;
	text-align:right;
	background: url('/resources/images/buttonsBack.png') no-repeat right top;
	overflow:visible;
	margin-left:5px;
	margin-right:5px;
}

button.normal span.text {  
	display: block;  
    padding: 0 0 0 8px;  
    height: 20px;  
    line-height: 20px;  
    white-space: nowrap;  
    font-size:14px;
    background: url('/resources/images/buttonsBack.png') no-repeat left -25px;  
} 

button.normal span.text span.icon
{
	float:left;
	margin-top:2px;
	height:16px;
	width:16px;
}

button.normal:hover,  
button.normal:focus {  
    background-position: right -50px;  
}  
  
button.normal:hover span.text,  
button.normal:focus span.text {  
    background-position: left -75px;  
}  
  
button.normal:focus {  
    margin-top: 1px;  
} 

button.normal::-moz-focus-inner /* fixing evil default firefox padding */ {  
    padding:0;  
    border:none;  
}