img.main_menu_button
{
	position:absolute;
	z-index:4;
	left:0px;
	cursor:pointer;
}

div.main_menu_container
{
	position:absolute;
	left:-300px;
	z-index:5;
	width:220px;
	bottom:0;
	background-color:#888888;
}

div.main_menu_container div.menu_border
{
	position:absolute;
	top:-5px;
	left:0;
	right:5px;
	border-right:#FFFFFF solid 5px;
	bottom:0;
	background-color:#1D303F;
}

div.main_menu_container div.menu_border ul.menu
{
	width:210px;
	margin:0;
	padding:0;
	list-style:none;
	margin-top:10px;
}

div.main_menu_container div.menu_border ul.menu li
{
	font-weight:bold;
	padding:0;
	margin:0;
	padding-left:10px;
	color:#FFFFFF;
	border-bottom:solid 1px #FFFFFF;
	cursor:pointer;
}

div.main_menu_container div.menu_border ul.menu li ul.sub_menu
{
	display:none;
	width:190px;
	margin:0;
	margin-left:10px;
	padding:0;
	list-style:none;
	background-color:#FFFFFF;
}

div.main_menu_container div.menu_border ul.menu li ul.sub_menu li
{
	color:#1D303F;
	border-bottom:#1D303F solid 1px;
	border-right:#1D303F solid 1px;
}